.LoreBox {
    width: 100% !important;
    background: #d1af91;
    border: 1px solid #000!important;
    padding: 20px;
    border-radius: 0px;
    min-height: 375px !important;
    color: #000 !important;
}
.LoreIMG img {
    position: relative;
    object-fit:cover;
    left: -5px;
    height: 250px;
    width: 100%;
}
.LoreBox .LoreBoxText {
    text-align: left;
    color: #1b1108;

}
.LoreBox .LoreIMG {
    float: left;
    width:40%;
}
.LoreBox .button1{
    text-align: center !important;
    margin-top: 10px;
        border-radius: 6px;
    padding-left: 0px;
    padding-right: 8px; 
    
   
}
.LoreBox .button2 {
    text-align: center !important;
    margin-top: 20px;

}
.button1 a {
    background: #ddc1a7;
    color: #000;
    padding: 5px;
    top: 10px;
    Border: 2px solid #000;
    border-radius: 1px;
    padding-left: 8px;
    padding-right: 8px;}
